.chat-dialog {
    flex-direction: column;
    width: 40%;
}

.start-chat-box {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid var(--light-background);
    overflow: hidden;
}

.start-chat-box-header {
    display: flex;
    align-items: center;
    height: 42%;
    background-color: var(--light-background);
    padding: 2px 6px;
}

.start-chat-box-header img {
    height: 100%;
    padding: 6px;
    width: auto;
    aspect-ratio: 1.6;
    object-fit: cover;
    border-radius: 15px;
}

.start-chat-listing-info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    height: 100%;
    padding: 6px 0px;
    overflow: hidden;
}

.start-chat-box-header-title {
    color: var(--dark-text);
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.start-chat-box-header-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.start-chat-listing-location {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-weight: 700;
    margin-top: auto;
    font-size: 14px;
}

.start-chat-listing-location .icon {
    width: 14px;
    height: 14px;
    fill: var(--primary);
    margin-right: 2px;
}

.start-chat-box h4 {
    margin-top: 10px;
    margin-left: 12px;
    color: var(--primary);
}

.start-chat-box-field {
    color: var(--dark-text);
    font-family: "Poppins", sans-serif;
    border: none;
    color: var(--dark-text);
    font-size: 16px;
    background: none;
    padding: 10px 20px;
    outline: none;
    resize: none;
    flex-grow: 1;
    font-weight: 600;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #5e2b70;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.start-chat-box-field::placeholder {
    color: #5e2b70;
    opacity: 0.5;
}

.start-chat-error {
    color: var(--error);
    background-color: rgb(229, 198, 203);
    border-radius: 6px;
    padding: 8px 12px;
    margin: 12px 6px 10px 6px;
}