.home-page {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden; /* Prevent overflow */
    padding-top: 80px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    20% {
        background-position: 25% 50%;
    }
    40% {
        background-position: 50% 50%;
    }
    60% {
        background-position: 75% 50%;
    }
    80% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.colored-section-container {
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.home-page__colored-section {
    width: 100%;
    height: 100%;
    background: radial-gradient(
            172.44% 67.18% at 56.93% 16.11%,
            #ddc964 16.67%,
            rgba(144, 224, 255, 0) 48.34%
        ),
        radial-gradient(
            33.4% 38.49% at 56.66% 50%,
            #c10c99 44.79%,
            rgba(169, 96, 238, 0) 83.19%
        ),
        radial-gradient(
            23.03% 13.73% at 6.58% 67.25%,
            #68d4ff 0%,
            #68d4ff 41.45%,
            rgba(144, 224, 255, 0) 100%
        ),
        radial-gradient(
            25.3% 48.59% at 19.59% 56.88%,
            #68d4ff 0%,
            #68d4ff 60.58%,
            rgba(169, 96, 238, 0) 83.24%
        ),
        radial-gradient(
            23.56% 17.93% at 7.65% 84.98%,
            #a960ee 25.96%,
            rgba(255, 51, 61, 0) 100%
        ),
        radial-gradient(
            39.14% 40.96% at 19.29% 57.22%,
            rgba(144, 224, 255, 0.1) 50.74%,
            rgba(169, 96, 238, 0) 100%
        ),
        radial-gradient(
            35.12% 24.99% at 45.83% 17.78%,
            #857045 31.7%,
            rgba(238, 117, 92, 0) 100%
        ),
        radial-gradient(
            62.3% 36.2% at 0% 100%,
            #c10c99 19.21%,
            rgba(183, 120, 224, 0) 54.54%
        ),
        radial-gradient(
            46.35% 60.9% at 5.34% 39.33%,
            #be9a4b 41.18%,
            rgba(183, 120, 225, 0) 71.99%
        ),
        conic-gradient(
            from 2deg at 22.11% 40.38%,
            #68d4ff 178.26553344726562deg,
            rgba(169, 96, 238, 0) 360deg
        ),
        radial-gradient(5% 5% at 60.58% 60.58%, #9e99a5 0%, #f7e2dc 25%);
    background-blend-mode: hard-light, normal, normal, normal, normal, normal,
        normal, normal, normal, normal, normal;
    overflow: hidden;
    background-size: 300% 100%;
    animation: gradientAnimation 8s ease infinite;
}

.colored-section-mask {
    background-color: var(--dark-background);
    height: 60%;
    position: absolute;
    rotate: -6deg;
    bottom: -40%;
    left: 0;
    width: 120%;
}

.home-page_content {
    width: 100%;
    height: 35%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-page-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 100%;
    margin: 0px 12%;
}

.home-page-text-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page__title {
    color: white;
    font-size: 85px;
    font-weight: 500;
    line-height: 96px;
    letter-spacing: -3px;
}

.home-page__subtitle {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 14px 0px;
    width: 60%;
    padding: 0;
}

.start-button {
    align-self: flex-start;
    margin-top: 30px;
}

.home-page-image-container {
    width: 28%;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page__image-box {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1.85;
    background-color: #f0f0f0;
    margin-bottom: 20px; /* Adjust spacing between image boxes */
    border: 3px solid #ccc;
    overflow: hidden;
    border-radius: 16px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-overlay {
    position: absolute;
    color: black;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    pointer-events: none;
    z-index: 2; 
    top: 10px;
    left: 10px;
}
