@import '../../styles/variables.css';

.registration-form {
  width: 25%;
  color: var(--on-dark-background);
  padding-right: 8vw;
}

.sign-up-button {
  width: 100%;
  margin-top: 50px;
}

.sign-up-header {
  font-weight: 500;
}

.registration-error {
  margin-top: 32px;
}

.forgot-password {
  color: inherit;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.spc-select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.spc-select:focus {
  outline: none;
}

.spc-field label {
  display: block;
  margin-bottom: 8px;
}

.spc-select:focus {
  border: 2px solid #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}