.forgot-password-form {
    width: 25%;
    color: var(--on-dark-background);
    padding-right: 8vw;
}

.forgot-password-button {
    width: 100%;
    margin-top: 50px;
}

.forgot-password-header {
    font-weight: 500;
}

.forgot-password-error,
.forgot-password-message {
    margin-top: 32px;
}

.reset-password-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.reset-password-link:hover {
    text-decoration: underline;
    cursor: pointer;
}