@import '../../styles/variables.css';

.password-recovery-form {
    width: 25%;
    color: var(--on-dark-background);
    padding-right: 8vw;
}

.password-reset-button {
    width: 100%;
    margin-top: 50px;
}

.password-recovery-header {
    font-weight: 500;
}

.password-recovery-error {
    margin-top: 32px;
}


.login a {
    text-decoration: none;

    color: inherit;

    font-weight: bold;
}

.login a:hover {
    text-decoration: underline;
    cursor: pointer;
}