@import  '../../styles/variables.css';

.create-listing {
    display: flex;
    min-height: 100vh;
    padding-top: 80px;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: var(--light-gradient-background);
}

.create-header {
    display: flex;
    padding: 20px 0px;
    width: 85%;
    box-sizing: border-box;
}

.create-header h1 {
    color: var(--dark-text);
    padding: 5px 100px 5px 0px;
}

.create-listing-form {
    display: flex;
    background-color: var(--light-background-trn);
    height: 100%;
    width: 85%;
    flex-grow: 1;
    margin: 0px 24px;
    padding: 48px;
    border-radius: 16px 16px 0px 0px;
    align-self: center;
}